services: 
  logstash: 
    image: logstash:8.13.0 
    # environment: 
      # - "LS_JAVA_OPTS=-Xmx8G -Xms8G" 
      #- JVM_OPTS=-Xms128mb -Xmx256mb 
    container_name: logstash 
    mem_limit: 16g 
    # deploy: 
    #   replicas: 2 
    ulimits: 
      memlock: 
        soft: -1 
        hard: -1 
    volumes: 
      - ./pipeline/logstash.conf:/usr/share/logstash/pipeline/logstash.conf 
      - ./configs/logstash.yml:/usr/share/logstash/config/logstash.yml 

    stdin_open: true 
    tty: true 
    restart: always 
    network_mode: host
    environment:
      - TZ=Asia/Ho_Chi_Minh

