services:
  influxdb:
    image: influxdb:1.12
    container_name: influxdb
    restart: always
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=admin
      - DOCKER_INFLUXDB_INIT_BUCKET=influx
    ports:
      - 8086:8086
    volumes:
      - influxdb_data:/var/lib/influxdb
