SERVICE_NAME=boilerplate
SERVICE_ENV=dev

LOG_LEVEL=INFO
LOG_PATH=logs/app.log

REDIS_ADDRS=127.0.0.1:6379
REDIS_PASSWORD=
REDIS_CHANNEL=
REDIS_DB=
REDIS_POOL_SIZE=20

KAFKA_BROKERS=127.0.0.1:9092
KAFKA_GROUP_ID=boilerplate
KAFKA_POOL_SIZE=30
KAFKA_SIGNUP_USER_TOPIC=register
