services:
  redis:
    image: redis:8.2
    container_name: redis
    restart: always
    expose:
      - 6379
    ports:
      - 6379:6379
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - redis_data:/data

volumes:
  redis_data:
    driver: local
