#SPDX-License-Identifier: MIT-0
---
# tasks file for roles/grafana

- block:
  - name: Create deployment folder
    file:
      path: '{{ deploy_dir }}'
      state: directory
      owner: root
      group: root
      mode: '0755'

  - name: Copy doker-compose file into remote server
    template:
      src: 'docker-compose.yml.j2'
      dest: '{{ deploy_dir }}/docker-compose.yml'
      owner: root
      backup: yes
  tags: [ config_grafana ]

- name: Deploy grafana
  shell: |
    docker compose up -d
  args:
    chdir: '{{ deploy_dir }}'
  register: result
  tags: [ deploy_grafana ]
