services: 
  elasticsearch: 
    image: {{ elasticsearch_image }} 
    container_name: elasticsearch 
    volumes: 
      - ./logs:/usr/share/elasticsearch/logs 
      - ./config/custom_jvm.options:/usr/share/elasticsearch/config/jvm.options.d/custom_jvm.options:ro 
      - ./config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:rw 
      - es_data:/usr/share/elasticsearch/data 
    logging: 
      driver: json-file 
      options: 
        max-size: "10m" 
        max-file: "10" 
        labels: "program" 
    restart: always 
    network_mode: host 
    extra_hosts: 
    {%- for host in groups['es'] %} 
    - "{{ hostvars[host]['node_name']}}={{ hostvars[host]['ansible_host'] }}" 
    {%- endfor %} 

volumes: 
  es_data: 
    driver: local 
    name: es_data
