#!/bin/bash

sudo -u postgres psql -c "CREATE ROLE pgpool WITH LOGIN PASSWORD '{{ pgpool_user_pass }}'"
sudo -u postgres psql -c "CREATE ROLE repl   WITH LOGIN PASSWORD '{{ repl_user_pass }}'"
sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD '{{ postgres_user_pass }}'"
sudo -u postgres psql -c "GRANT pg_monitor TO pgpool"
